<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center " style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex" style="text-align:center">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-2 text-white" style="text-align:center">Hello {{this.currentUser.username}}</h1>
        <h3 class="text-white mt-0 mb-5" style="text-align:center">This is your profile page. You can edit your profile at all times</h3>
        <div style="text-align:center">
          <a [routerLink]="['/update-profile']" class="btn btn-info">Edit profile</a>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-7 order-xl-2 mb-5 mb-xl-0 ant-col-lg-offset-5">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img [src]=this.image class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center">
            <h3>
              {{this.currentUser.username}}<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i> {{this.currentUser.address}}
            </div>
            <div class="h5 mt-4">
              <i class="ni ni-email-83 mr-2"></i> {{this.currentUser.email}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>