<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div *ngIf="this.eventTopicsEmitted" class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Event Topics Emitted</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.eventTopicsEmitted[0]?.topics_count}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col" *ngIf="this.currentUser">
                  <h5 class="card-title text-uppercase text-muted mb-0">Blockchain URL</h5>
                  <span class="h3 font-weight-bold mb-0">{{this.currentUser?.subscription.blockchain_url}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col" *ngIf="this.subscribedUsersCount">
                  <h5 class="card-title text-uppercase text-muted mb-0">Subscribers Count</h5>
                  <span class="h2 font-weight-bold mb-0">{{this.subscribedUsersCount[0]?.subscribers_count}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col" *ngIf="this.currentUser">
                  <h5 class="card-title text-uppercase text-muted mb-0">Contract Address</h5>
                  <span class="h3 font-weight-bold mb-0">{{this.currentUser?.subscription.contract_address}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="display: flex;justify-content: center;align-items: center">
    <div class="col-sm-10">
      <div class="chart-container">
        <div class="col">
          <ul class="nav nav-pills justify-content-end">
            <li class="nav-item mr-2 mr-md-0" data-toggle="chart-container" data-target="#canvas"  (click)="setDataToEvents()">
              <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                <span class="d-none d-md-block">Events</span>
                <span class="d-md-none">E</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="chart-container" data-target="#canvas"  (click)="setDataToTransactions()">
              <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                <span class="d-none d-md-block">Transactions</span>
                <span class="d-md-none">T</span>
              </a>
            </li>
          </ul>
        </div>    
        <canvas id="canvas" width="600" height="250">
          {{ linechart }}
        </canvas>    
      </div>
    </div>
  </div>
</div>
